<table id="exemptions-table" class="table table-condensed table-striped mobile-data">
  <thead>
  <tr>
    <th>Account ID</th>
    <th>Customer Usage Type</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% exemptions.each do |exemption| %>
      <tr>
        <td><%= exemption[:account_id] %></td>
        <td><%= exemption[:customer_usage_type] %></td>
        <td>
          <%= link_to '<i class="fa fa-times"></i>'.html_safe, remove_exemption_configuration_path(:account_id => exemption[:account_id]), :method => :delete %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#exemptions-table').dataTable({
      "dom": "t",
      "paging": false,
      "columns": [
        null,
        null,
        { "orderable": false }
      ]
    });
  });
<% end %>
