<table id="products-table" class="table table-condensed table-striped mobile-data">
  <thead>
  <tr>
    <th>Product name</th>
    <th>Tax code</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% tax_codes.each do |tax_code| %>
      <tr>
        <td><%= tax_code[:productName] %></td>
        <td><%= tax_code[:taxCode] %></td>
        <td>
          <%= link_to '<i class="fa fa-times"></i>'.html_safe, remove_tax_code_configuration_path(:product_name => tax_code[:productName]), :method => :delete %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#products-table').dataTable({
      "dom": "t",
      "paging": false,
      "columns": [
        null,
        null,
        { "orderable": false }
      ]
    });
  });
<% end %>
